.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* landing page logo */
.parent {
  height: 5px;
  width: 200px;
  background-color: lightgray; /* Just for visibility */
  position: relative;
  border-radius: 5px;
}

.child {
  width: 100px;
  height: 5px;
  background-color: rgb(10, 102, 194);
  border-radius: 5px;
  position: absolute;
  animation: slide 1s infinite linear;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: 100px;
  }
}
.logo{
  font-size: 50px;
  color: rgb(10, 102, 194);
}
.logopage{
  height: 100vh;
}
/* navbar style */
nav{
  position: relative;
}
.usersupload{
  position: absolute;
  top: 100%;
  z-index: 999;
}
.changeimg{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.name{
  margin-bottom: -10px;
}
.custom-file-input {
  display: inline-block;
  padding: 8px;
  background-color: #2647b4;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}


/* signup page styles */

.log{
  color: rgb(10, 102, 194);
  margin: 2% 10%;
}
.form{
  width: 40%;
  background-color: white;
}
.agree{
  background-color: rgb(10, 102, 194);
  border: none;
  color: white;
  padding: 13px 0;
}
.img{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.smh{
  font-size: 12px;
}
#swggl{
  background-color: aliceblue;
}
.rel{
  position: relative;
}
.show, .hide{
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  /* border-radius: 30px; */
  padding: 0 10px 5px 10px;
}
.hide{
  display: none;
}
/* .show:hover{
  background-color: rgba(7, 125, 228, 0.5);
  color: white;
} */
.hide:hover{
  background-color: rgba(12, 135, 242, 0.5);
  color: white;
}

/* signin sytles */
.forgot{
  border: none;
  background: none;
  padding: 5px 10px;
  border-radius: 30px;
}
.forgot:hover{
  background-color: rgb(140, 193, 239);
  color: white;
}
.hr{
  width: 40px;
  transform: rotate(90deg);
}
.profile{
  width: 33px;
  background-color: rgb(77, 74, 71);
  height: 33px;
  border-radius: 100%;
}
.inpsearch{
  border: none;
  outline: none;
  background: none;
}
.bigboard{
  height: 37px;
  background-color: aliceblue;
}
.inpsearch:focus{
  width: 350px;
}
.bigboard:focus-within{
  outline: 2px solid black;
}
.linkedin{
  color:  rgb(10, 102, 194);
}
nav{
  background-color: white;
  padding: 5px 0;

}
.mainpage{
  margin-top: -2px;
}
.coverpix{
  width: 100%;
  height: 20%;
  border-radius: 10px 10px 0 0;
}
.pixboarder{
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 100%;
}
.profilepix{
  width: 82px;
  height: 82px;
  border-radius: 100%;
}
.coverPhoto{
  position: relative;
  height: 100px;
}
.pixboarder{
  position: absolute;
  top: 40%;
  left: 32%;
}
.angup{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  display: none;
  color: rgb(77, 74, 71);
}
.header:hover .angup{
 display: block;
}

/* mainpage styles */

.postimg{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.post{
  width: 85%;
  outline: none;
  border: 1px solid grey;
}
.modal-dialog{
  position: relative;
}
.btn-close{
  position: absolute;
  right: 10px;
  top: 10px;
}
.profilebackground{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 60%;
  left: 3%;
}
.posticons:hover{
  background-color: rgba(92, 90, 87, 0.1);
}
.userimg{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* left card */
.leftcard{
  position: sticky;
  top: 20px;
}
.rightcard{
  position: sticky;
  top: 20px;
}
.more{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
}
.postingimg{
  width:55px;
  height:55px;
  border-radius: 100%;
}
.bag:hover{
  background-color: rgba(77, 74, 71,0.1);
}